@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-variation-settings:
        "wdth" 100;

}

html {
    scroll-behavior: smooth;
}

/* CSS Custom properties like variables */
:root {
    --ActiveLinks: rgb(0, 102, 255);
}

/* Ye hmara hero page h jisme bg image h */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(audi-rs-5-audi-r26-3840x2160-26528.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
}

/* This is the container of the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    /* background: rgba(0,0,0,0.2); */
}

/* This is the logo image of the navbar */
.logo img {
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 1s ease;
}

.logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px;
    border-radius: 50px;
}

/* Here are the links of the navbar */
.links {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.links div a {
    display: inline-block;
    text-decoration: none;
    font-size: large;
    color: rgb(255, 255, 255);
}

/* Ab hum links me underline effect lgayenge  */
.links div {
    position: relative;
}

/* from left to right growing line */
/* .links div::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: 0.3s ease;
} */
/* from mid to left and right */
.links div::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: red;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.links div:hover::after {
    width: 100%;
}

/* ab hum clicked links ka color change krnege */
.links div a:active {
    color: var(--ActiveLinks);
}

/* yeh hai hero section ki heading */
.heading {
    font-size: 3rem;
    font-weight: bolder;
    color: whitesmoke;
    margin-left: 70px;
}

.subhead {
    margin-left: 70px;
    font-size: large;
    color: white;
}

/* yeh hmare hero sections ke buttons h */
.heroButtons {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-left: 70px;
}

.heroButtons button {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.primary {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid red;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border;
}

.primary:hover {
    transform: scale(1.05);
    border: 2px solid black;
    box-shadow: 0 0px 15px red;
    background-color: rgba(245, 4, 4, 0.824);
}

.secondary {
    background-color: rgba(125, 115, 115, 0.642);
    border: 2px solid rgba(253, 253, 253, 0.963);
    color: white;
    transition: transform 0.3s ease, background-color 1s ease, box-shadow 0.3s ease;
}

.secondary:hover {
    transform: scale(1.05);
    background-color: rgb(31, 89, 175);
    box-shadow: 0 0px 15px var(--ActiveLinks);
}

.stats {
    display: flex;
    justify-content: center;
    color: white;
    /* border-top: 1px solid rgba(58, 53, 53, 0.63); */
    padding: 30px;
    background-color: black;
}

.stat {
    padding: 0 40px;
    border-right: 2px solid rgba(58, 53, 53, 0.63);
}

.stat:last-child {
    border-right: none;
}

.img_for_car_section img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-bottom: 2px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.42);
}

.category div {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.category div:hover {
    transform: scale(1.05);
    background-color: red;
    color: white;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 0px 0px 15px red;
}

#Featured {
    display: flex;
    justify-content: center;
}

.featured_cars {
    column-count: 3;
    column-gap: 20px;
}

.cards {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(44, 44, 44);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(27, 22, 22);
}

.button button {
    color: rgb(255, 255, 255);
    border: 2px solid red;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: black;
    transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.button button:hover {
    transform: scale(1.03);
    border: 2px solid black;
    background-color: red;
    box-shadow: 0px 0px 15px red;
    cursor: pointer;
}

.button button:active {
    box-shadow: 0px 0px 15px blue;
    background-color: black;
}

.content {
    font-size: large;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 20px;
    margin-top: auto;
}

/* changing featured sections background */
#cars {
    background-color: rgb(3, 5, 9);
}

#Featured {
    background-color: rgb(3, 5, 9);
}

#why_us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.121), rgba(0, 0, 0, 0.158)),
        url(Why_choose_us_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.why_choose_us_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.why_us_head {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    color: red;
    text-shadow: 0px 5px 15px red;
}

.why_us_subhead {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: bold;
}

.why_us_para {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    text-align: center;
}

.why_us_cards {
    column-count: 3;
    column-gap: 50px;
}

.why_us_container {
    max-height: 250px;
    min-height: 40px;
    max-width: 400px;
    min-width: 200px;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    color: white;
    margin-bottom: 20px;
    transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
}

.why_us_container:hover {
    transform: translate(20px, 10px);
    border: 2px solid #A62A2A;
    box-shadow: 4px 0px 15px #a6472a73;
}

.boxes_of_why_us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.boxes_of_why_us p {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    color: #c4bbbbca;
}

.boxes_of_why_us i {
    border: 2px solid #A62A2A;
    padding: 20px;
    font-size: 20px;
    margin: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to top, #a6472a73, hsla(45, 4%, 19%, 0.196));
    color: rgb(219, 216, 216);
    box-shadow: 4px 0px 15px #a6472a73;
}

.boxes_of_why_us div {
    font-size: 20px;

}

.dash {
    margin-bottom: 5px;
    color: red;
    text-shadow: 0px 5px 15px red;
}

#testimonials {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.043), rgba(0, 0, 0, 0.08)), url('testimonials\ bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.t_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t_head {
    font-size: 1.5rem;
    color: red;
    text-shadow: 0px 5px 15px red;
    border: none;
    margin: 10px;
}

.t_sub_head {
    font-size: 3rem;
    font-weight: bold;
}

.testimonial-card {
    width: 350px;
    padding: 35px;
    border-radius: 20px;

    background: rgba(10, 12, 20, 0.55);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, .15);

    transition: .4s ease;
}

.testimonial-card:hover {
    transform: translateY(-8px);
    border-color: #ff2d2d;
    box-shadow: 0 15px 40px rgba(255, 0, 0, .18);
}

#test_quote {
    color: #ff1f1f;
    font-size: 48px;
}

.stars {
    margin-top: 15px;
    color: #ff2020;
    font-size: 24px;
    letter-spacing: 4px;
}

.review {
    margin: 30px 0;
    color: #f3f3f3;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 300;
}

.divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .08);
    position: relative;
    margin-bottom: 30px;
}

.divider::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 80px;
    height: 3px;
    background: #ff2020;
    border-radius: 10px;
}

.client {
    display: flex;
    align-items: center;
    gap: 18px;
}

.client img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ff2020;
}

.client-info h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 6px;
}

.client-info span {
    color: #bdbdbd;
    font-size: 15px;
}

.test_border {
    border-bottom: 1px solid rgb(119, 119, 123);
}

#first_achivement {
    background-image: linear-gradient(black, black);
    min-height: 50vh;
    max-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our_achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_achievement_head {
    font-size: 1.5rem;
    color: red;
    text-shadow: 0px 5px 15px red;
    border: none;
    margin: 10px;
}

.our_achievement_sub_head {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
#second_achivement{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0))
    ,url(acievement_section_second_image.png);
    min-height: 50vh;
    max-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.black_achievement{
    border: 2px solid #A62A2A;
    border-radius: 10px;
    color: white;
    height: 180px;
    width: 200px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    
}
.black_achievement:hover{
    transform: scale(1.25);
    box-shadow: 0px 0px 15px red;
}
.black_head_img{
    font-size: 30px;
    color: transparent;
    text-decoration: overline;
    text-shadow: 0px 0px 50px red;
    margin: 10px;
    -webkit-text-stroke: 2px red;
}
.black_head{
    font-size: 2rem;
    font-weight: bold;
}
.black_achievement p{
    color: rgba(255, 255, 255, 0.5);
    margin: 5px;
}